
<!DOCTYPE HTML>
<html>

<head>
	<title>file-upload</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	<!-- Stylesheets -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="js/jquery-1.11.1.js"></script>
	<script type="text/javascript" src="js/jquery.validate.min.js"></script>
	<!-- 	<link href="css/fileupload.css" rel='stylesheet' type='text/css' /> -->
	<style type="text/css"> 
        h1{color: green;}
		.input{margin-top: 50px; color: red;}
		.main{background-color: #E5E8E8  ;}
		.file{margin-left: 90px;}
		.btn{margin-top: 20px;}
    </style>
	<!--// Stylesheets -->

</head>
<body>
	
	<div class="container">
		<h1><u>File Upload in Node.js</u></h1>
			<form action="/upload" method="post" enctype="multipart/form-data">
				<p class="input"><%= typeof msg != 'undefined' ? msg : ' ' %></p>
				 <input type="file" name="myImage" accept="image/*" class="input">
				 <input type="submit" class="btn btn-primary btn" value="Save">
			 </form>
			
	</div>
	
	<div class="container">
		<h1><u>Uploaded Images</u></h1>
		<br>
	    <img src="<%= typeof file != 'undefined' ? file : ' ' %>" class="img-responsive">
	</div>	
	
</body>
</html>

